{% extends "layout.html" %}
{% block title %}Schedule{% endblock %}
{% block content %}
<div class="row">
  <div class="col-sm-3">
    <ul>

    </ul>
    <nav class="nav flex-column nav-dark bg-dark">
      {% for subnavigation in g_navigation %}
        {% if subnavigation.name == semester %}
          {% for item in subnavigation["sub"] %}
            <a style="color: white" class="nav-link" href="/exercise?semester={{semester}}&course={{item}}">{{item}}</a>
          {% endfor %}
        {% endif %}
      {% endfor %}
    </nav>
  </div>
  <div class="col-sm" style="height:1000px">
    <h2>{{semester}} {% if course != "" %} - {{course}}{% endif %}</h2>
      <table class="table table-dark">
        <thead>
          <tr>
            <th scope="col">Semester</th>
            <th scope="col">Matrikel</th>
            <th scope="col">Dozent</th>
            <th scope="col">Typ</th>
            <th scope="col">#</th>
            <th scope="col">Download</th>
          </tr>
        </thead>
        <tbody>
        {% for f in files %}
          <tr>
            <td>{{semester}}</td>
            <td>{{f["matrikel"]}}</td>
            <td>{{f["dozent"]}}</td>
            <td>{{f["typ"]}}</td>
            <td>{{f["nummer"]}}</td>
            <td>(link)</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
  </div>
</div>


{% endblock %}
